<link rel="stylesheet" href="/css/dashboard.css">
<div id="dashboard" class="card w-100 d-flex mt-5 " style="width: 18rem;">
    <div class=" card-body">
        <h5 class="card-title">Dashboard</h5>
        <p class="card-text">Welcome <span>Mr/Mrs &#128540;</span> <%= user.name %>
            </p>
        <a href="/users/sign-out" class="btn btn-danger"> logout</a>
        <a href="/users/reset" class="btn btn-danger"> Reset Password </a>
    </div>
</div>